// переменные 
//GRID
//точки адаптива
$lg: 1310px;
$md: 1024px;
$sm: 768px;
$xs: 576px;


//Цвета макета
$c-primary: #e92e27;//основной цвет макета
$c-secondary: #0076af;//дополнительный цвет макета
$c-text: #423D4A;//основной цвет текста макета
$c-text2: #84828D;//дополнительный цвет текста макета


// Рандомные переменные проекта


// Размер шрифта
$font-size-base: 10px;


// Шрифты
$body-font: 'Montserrat', sans-serif;//основной
$headers-font: 'Montserrat', sans-serif;//для заголовков
$secondary-font: 'Open Sans', sans-serif;//дополнительный
